*.js
!jest.config.js
*.d.ts
node_modules

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
secure_vault/

# CDK asset staging directory
.cdk.staging
cdk.out/
